
<% @title = "Docs" %>
<% @bodyid = "index" %>
<h1> Sitepass Documentation Site</h1>

<h2> Currently Supported Providers </h2>
<ul>
  <li>Facebook</li>
  <li>Twitter</li>
  <li>Google*</li>
  <li>Myspace</li>
  <li>Aol*</li>
  <li>Yahoo*</li>
</ul>
<div class="subfooter">
  * automatically available without configuration.
</div>

